@import "tailwindcss";

:root {
    --main: hsl(0, 0%, 90%);
    --second: hsl(0, 0%, 90%);
    --third: hsl(0, 0%, 90%);
}

@media (prefers-color-scheme: dark) {
    :root {
    --main: hsl(19, 94%, 80%);
    --second: hsl(0, 0%, 90%);
    --third: hsl(0, 0%, 90%);
    }
}

body {
    background-color: var(--main);
}

.theater-select-label {
    display: inline-block;
    color: black;
    user-select: none;
    --webkit-user-select: none;
    background-color: white;
}

.theater-select-label.active {
    background-color: var(--color-blue-600);
    color: white;
}

.theater-select-span {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    width: fit-content;
}

.date-button {
    background-color: white;
    border-color: white;
    color: black;
}

.date-button.active {
    background-color: var(--color-blue-600);
    color: white;
    border-color: var(--color-blue-600);
}